@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Norwester";
  src: url("../public/fonts/norwester.ttf");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}